h1 {
    color: blue;
    text-align: center;
}
/*
div {
    background-color: teal;
    width: 500px;
    height: 400px;
    margin: 30px;
    padding: 20px;
    */
/* sans, serif es fuente alternativa */
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.list {
    border: 3px solid blue;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: gray;
}
#top {
    font-size: 36px;
}
#middle {
    font-size: 24px;
}
#top {
    font-size: 12px;
}
.name {
    font-weight: bold;
}